.layout {
    height: 4420px;
    width: 1440px;
    overflow: auto;
}
.main {
    width:1180px;
    height: 3250px;
    margin-left: 236px;
    margin-right: 24px;
    text-align:center;
    position: relative;
    overflow: auto;
    background-color: black;
}
.category {
    width: 1180px;
    height: 1000px;
    background-color: rgb(221, 252, 244);
}
.tab {
    height: 80px;
    display: inline-flex;
}
.collegeTab {
    width: 590px;
    height: 80px;
    font-weight:bold;
    background-color: grey;
}
.fieldTab {
    width: 590px;
    height: 80px;
    color: rgb(132, 132, 132);
    background-color: rgb(209, 209, 209);
}
.hotpro{
    width: 1180px;
    height: 750px;
    font-style: italic;
    font-size: 1.5em;
    background-color: rgb(254, 242, 228);
}
.callender{
    width: 1180px;
    height: 750px;
    font-style: italic;
    font-size: 1.5em;
    color: white;
    background-color: rgb(57, 57, 158);
}
.detail{
    width: 1180px;
    height: 750px;
    background-color: rgb(210, 231, 224);
}
.tab2 {
    height: 80px;
    display: inline-flex;
}
.menuTab {
    width: 590px;
    height: 80px;
    font-weight:bold;
    background-color: grey;
}
.busTab {
    width: 590px;
    height: 80px;
    color: rgb(132, 132, 132);
    background-color: rgb(209, 209, 209);
}

