.nav {
    background-color: #E9F9FA;
    color:006CBF;
    width:100%;
    height:66px;
    margin-left: 24px;
    margin-right: 24px;
    flex-shrink: 0;
    position: fixed;
}

.knuLoogo {
    margin: auto;
}